.App {
  text-align: center;
}

.App-header {
  height: 52px;
  background-color: #F44336;
  background-image: none;
  border-radius:0;
}

.App-header a {
  color: white;
  text-decoration: none;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
